## for loop:

#The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

#Syntax of for Loop
     for val in sequence:
         Body of for
#Here, val is the variable that takes the value of the item inside the sequence on each iteration.

#Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.

In [8]:
for i in [65,76,34,23]:
    print(i)

65
76
34
23

In [5]:
for fruit in ('apple','orange','banana','mango','grapes'):
    print(fruit)

apple
orange
banana
mango
grapes

In [6]:
for detail in {'sahil','village piyala','mca final',8750377097}:
    print(detail)

mca final
village piyala
8750377097
sahil

In [7]:
for num in {85,69,55,879,33}:
    print(num)

33
69
879
85
55

In [10]:
for extra in {(17,'sahil'),(23,'rajeev'),(39,'bhati'),(8,'rahul')}:
    print(extra)

(8, 'rahul')
(39, 'bhati')
(23, 'rajeev')
(17, 'sahil')

In [12]:
dict_1={(17,'sahil'),(23,'rajeev'),(39,'bhati'),(8,'rahul')}
for x in dict_1:
    print(x)

(8, 'rahul')
(39, 'bhati')
(23, 'rajeev')
(17, 'sahil')

In [19]:
fruit=['apple','banana','grapes','mango']
colors=['red','yellow','green','yellow']
for x in colors:
    for y in fruit:
        print(x,y)

red apple
red banana
red grapes
red mango
yellow apple
yellow banana
yellow grapes
yellow mango
green apple
green banana
green grapes
green mango
yellow apple
yellow banana
yellow grapes
yellow mango

In [31]:
a={'hii'}
b=['sahil','sourav','rajeev','swaroop']
for x in a:
    for y in b:
        print(x,y)

hii sahil
hii sourav
hii rajeev
hii swaroop

In [32]:
a={(1,'hii'),(2,'byye')}
b=['sahil','sourav','rajeev','swaroop']
for x in a:
    for y in b:
        print(x,y)

(1, 'hii') sahil
(1, 'hii') sourav
(1, 'hii') rajeev
(1, 'hii') swaroop
(2, 'byye') sahil
(2, 'byye') sourav
(2, 'byye') rajeev
(2, 'byye') swaroop

In [36]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [47]:
#program for printing the table of a number:
x=int(input('enter the number for which u want the table:'))
print('THIS IS THE TABLE OF',x)
for i in range(1,11):
    print(x,'*',i,'=',x*i)

enter the number for which u want the table:34
THIS IS THE TABLE OF 34
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

In [55]:
x=[76,78,45,2,89]
a=0
for i in x:
    a=a+i
print(a)

290

In [59]:
#program for finding the sum of a sequence of nos:
min=int(input('enter the lower range:'))
max=int(input('enter the upper range:'))
x=0
for i in range(min,max):
    x=x+i
print(x)

enter the lower range:50
enter the upper range:60
545

In [4]:
#program for factorial of a no:
num=int(input('enter the no. to calculate factorial:'))
x=1
if num<0:
    print('factorial does not exist for negetive no.')
elif num==0:
    print('factorial of 0 is 1')
else:
    for i in range(1,num+1):
        x=x*i
if num>0:
    print('factorial of',num,'is',x)

enter the no. to calculate factorial:10
factorial of 10 is 3628800

#### for loop with else

#A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop    exhausts.

#break statement can be used to stop a for loop. In such case, the else part is ignored.

In [2]:
digits=[0,1,5,8,7]
for i in digits:
    print(i)
else:
    print("no items left.")

0
1
5
8
7
no items left.

In [1]:
#program 
lower = int(input(" enter your lower range:  ")) 
upper = int(input(" enter your upper range:  "))

for num in range (lower , upper + 1):
    if num > 1:
        for i in range( 2 , num):
            if (num % i)== 0:
                break
        else:
            print(num)

 enter your lower range:  1
 enter your upper range:  50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

#### control statements

In [7]:
for i in range(100):
    print(i)
    if i==10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(10):
    print(i)
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9

In [4]:
l1=['apple','cherry','berry','papaya','grapes']
for i in l1:
    if i=='berry':
        break
    print(i)

apple
cherry

In [5]:
l1=['apple','cherry','berry','papaya','grapes']
for i in l1:
    if i=='berry':
        continue
    print(i)

apple
cherry
papaya
grapes

In [9]:
l1=['apple','cherry','berry','papaya','grapes']
for i in l1:
    if i=='berry':
        pass
    print(i)

apple
cherry
berry
papaya
grapes

## Exercise

In [12]:
#print all elements of a list using for loop.
list_1=['a','b','c','ab','bc','ca','abc']
for i in list_1:
    print(i)

a
b
c
ab
bc
ca
abc

In [2]:
# Take inputs from user to make a list. Again take one input from user and search it in the list and delete that element, if 
# found. Iterate over list using for loop.
x=int(input('enter the no. of elements to be in list: '))
list_1=[0]
for i in list_1:
    if len(list_1)<x+1:
        y=int(input("enter the element: "))
        list_1.append(y)
print('your list is ready')
print(list_1)
z=int(input('enter the element to be searched:'))
for j in list_1:
    if j == z:
        print('item found...')
        list_1.remove(z)
        print(z,'is deleted.')
    else:
        print("item not found!!!")
print(list_1)

enter the no. of elements to be in list: 6
enter the element: 1
enter the element: 2
enter the element: 3
enter the element: 4
enter the element: 5
enter the element: 6
your list is ready
[0, 1, 2, 3, 4, 5, 6]
enter the element to be searched:6
item not found!!!
item not found!!!
item not found!!!
item not found!!!
item not found!!!
item not found!!!
item found...
6 is deleted.
[0, 1, 2, 3, 4, 5]

In [4]:
#You are given with a list of integer elements. Make a new list which will store square of elements of previous list.
list_1=[3,7,9,5,12,1,21,19]
list_2=[]
for i in list_1:
    list_2.append(i**2)
print(list_2)

[9, 49, 81, 25, 144, 1, 441, 361]

In [6]:
#Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers. 
x=range(1,101)
list_even=[]
list_odd=[]
for i in x:
    if i%2==0:
        list_even.append(i)
    else:
        list_odd.append(i)
print("list for even nos.-",list_even)
print("list for odd nos.-",list_odd)

list for even nos.- [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
list for odd nos.- [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [7]:
# From the two list obtained in previous question, make new lists, containing only numbers which are divisible by 4, 6, 8, 10, 
# 3, 5, 7 and 9 in separate lists.

In [22]:
list_4=[]
list_6=[]
list_8=[]
list_10=[]
list_3=[]
list_7=[]
list_5=[]
list_9=[]

list_even
list_odd

for i in list_even:
    if i%4==0:
        list_4.append(i)
    if i%6==0:
        list_6.append(i)
    if i%8==0:
        list_8.append(i)
    if i%10==0:
        list_10.append(i)
    if i%3==0:
        list_3.append(i)
    if i%5==0:
        list_5.append(i)
    if i%7==0:
        list_7.append(i)
    if i%9==0:
        list_9.append(i)
        
for i in list_odd:
    if i%3==0:
        list_3.append(i)
    if i%5==0:
        list_5.append(i)
    if i%7==0:
        list_7.append(i)
    if i%9==0:
        list_9.append(i)
        
list_3.sort()
list_5.sort()
list_7.sort()
list_9.sort()
        
print('list for dividible by 3 is:',list_3)     
print('list for dividible by 5 is:',list_5) 
print('list for dividible by 7 is:',list_7) 
print('list for dividible by 9 is:',list_9) 
print('list for dividible by 10 is:',list_10) 
print('list for dividible by 4 is:',list_4) 
print('list for dividible by 6 is:',list_6) 
print('list for dividible by 8 is:',list_8)

list for dividible by 3 is: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
list for dividible by 5 is: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
list for dividible by 7 is: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
list for dividible by 9 is: [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]
list for dividible by 10 is: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list for dividible by 4 is: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]
list for dividible by 6 is: [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
list for dividible by 8 is: [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [25]:
#From a list containing ints, strings and floats, make three lists to store them separately.
x=['sahil',17,72.6,'rajeev',23,75.98,'sourav',39,68.7]
l_int=[]
l_float=[]
l_str=[]
for i in x:
    if type(i)==int:
        l_int.append(i)
    if type(i)==float:
        l_float.append(i)
    if type(i)==str:
        l_str.append(i)
print('integers are:',l_int) 
print('float values are:',l_float)
print('strings are:',l_str)

integers are: [17, 23, 39]
float values are: [72.6, 75.98, 68.7]
strings are: ['sahil', 'rajeev', 'sourav']

In [28]:
#print a table of 14 from a list having table of 12 stored in it.
table_12=[12,24,36,48,60,72,84,96,108,120]
table_14=[]
x=2
for i in table_12:
    table_14.append(i+x)
    x=x+2
print(table_14)

[14, 28, 42, 56, 70, 84, 98, 112, 126, 140]